<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="">
    <meta name="msvalidate.01" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index,follow,noodp">
    <meta name="description" content="<%= pageMeta.description %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta name="p:domain_verify" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@">
    <meta name="twitter:title" content="<%= pageMeta.title %>">
    <meta name="twitter:description" content="<%= pageMeta.description %>">
    <meta name="twitter:url" content="<%= global.siteUrl %><%= pageMeta.path %>">
    <meta property="twitter:account_id" content="">
    <meta property="fb:admins" content="">
    <meta property="fb:app_id" content="">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="<%= global.siteName %>">
    <meta property="og:title" content="<%= pageMeta.title %>">
    <meta property="og:description" content="<%= pageMeta.description %>">
    <meta property="og:url" content="<%= global.siteUrl %><%= pageMeta.path %>">
    <meta property="og:type" content="<%= pageMeta.type %>">
    <meta property="og:image" content="<%= pageMeta.ogpImage %>">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="msapplication-TileImage" content="assets/img/icon/******-144x144.png">
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#000">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="assets/img/icon/******.png">
    <link rel="icon" sizes="192x192" href="assets/img/icon/******-192x192.png">
    <link rel="icon" href="favicon.ico">
    <link rel="canonical" href="">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
    <% if(isFrontPage) { %>
      <title><%= global.siteName %></title>
    <% } else { %>
      <title><%= pageMeta.title %> | <%= global.siteName %></title>
    <% } %>
  </head>
  <body class="<%= className.body %>">
    <noscript>※当ウェブサイトを快適に閲覧して頂くためjavascriptを有効にしてください</noscript>
    <div class="l-base" id="app">
      <header class="l-header <%= className.header %>">
        <section class="l-wrapper">
          <div class="l-container">
            <div class="__inner-depth-1">
              <div class="__inner-depth-2">
                <div class="__inner-depth-3">
                  <div class="__inner-depth-4">
                    <div class="__inner-depth-5">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- header end -->